# Python bytecode
__pycache__/
user/__pycache__/
user/scripts/__pycache__/
*.py[cod]

# Arquivos de log e shortcuts
*.log
user/shortcuts/*
!user/shortcuts/.none

# Configs
*.config
!default.config

# IDEs / OS
.vscode/
.idea/
.DS_Store